
body,
html {
  width: 100%;
  height: 100%;
  background-color: white;
}

.image-container {
  width: 100%;
  height: 100vh;
  color: #0056b3;
}

.register-image {
  flex: 1;
  height: 100vh;
}

.register-image img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
